{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th> Date Created</th>
        </tr>
            {% if wishes.id == id %}
            <tr>
                <td>{{ wishes.title }}</td>
                <td>{{ wishes.description }}</td>
                <td>{{ wishes.author }}</td>
                <td>{{ wishes.dateCreated|date("Y/m/d") }}</td>

            </tr>
            {% endif %}


    </table>
{% endblock %}
