{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <h1>Editer un wish</h1>
    <div class="row justify-content-center">
        <div class="col-6">
            {{ form(wish_form) }}
        </div>
    </div>
{% endblock %}