
header {
    background-color: darkolivegreen;
    padding-left: 10%;
    a {
        text-decoration: none;
        color: black;
    }
}
body {
    background-color: aliceblue;
}
.entete {
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.navigation {
    display: flex;
    gap: 10px;

}

table {
    width: 50%;
}

/*.logo{*/
/*    float: left;*/
/*}*/
footer {
    bottom:0px;
    background-color: antiquewhite;
    position: fixed;
    width: 100%;
}

.pied {
    text-align: center;
}
